<head>
  <meta name="description" content="Curious URL Shortener" key="Home" />
  <meta name="author" content="Curious" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="/global.css" />
  <link rel="stylesheet" href="/main.css" />
  <title>CUSH</title>
</head>
