@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 1em;
  font-weight: 400;
  font-family: "Comic Neue", cursive, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary: #4c6aca;
  --grey: #c4c4c4;
  --black: #141212;
  --white: #fff;
  --danger: #bb2124;
  --success: #22bb33;
  --warning: #f0ad4e;
  --font-family: "Comic Neue", cursive, sans-serif;
}
