.container {
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: 12vh;
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .appTitle {
  font-size: 28px;
}

.main {
  width: 60%;
  margin: 0 auto;
}

.logo {
  width: 25rem;
  height: 25rem;
  margin: 0 auto;
}

.logo img {
  width: 100%;
  height: 100%;
}
.inputContainer {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  height: 44px;
  padding: 10px 25px 10px 15px;
  border: 1px solid var(--grey);
  background: var(--white);
  border-radius: 15px;
  font-family: "Comic Neue", cursive, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.input:focus {
  outline: none;
  border: 1px solid var(--primary);
  box-shadow: 0 0 7px #719ece;
}

.inputGroup {
  width: 100%;
  position: relative;
}

.prepend {
  position: absolute;
  left: 15px;
  top: 12px;
}

.append {
  position: absolute;
  right: 2px;
  top: 2px;
}

.submit-btn {
  outline: none;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.error {
  position: absolute;
  top: 103%;
  left: 0;
  color: var(--danger);
  font-size: 14px;
  visibility: hidden;
  transition: all 0.3 linear;
}

.d-none {
  display: none;
}

.result {
  margin: 2rem 0;
  background: #ffffff;
  padding: 15px;
  box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.result-short__title {
  font-size: 22px;
  font-weight: 700;
}

.result-short__url {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.url-link {
  width: 100%;
  height: 50px;
  background: var(--primary);
  color: var(--white);
  padding: 15px;

  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  font-family: var(--font-family);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn:hover img {
  transform: scale(1.1);
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
